<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Notes</title>
    </head>
    <body>
        <h3>Modules</h3>
        <!-- User Management
     Permission Management
     Role Management
     Assign Roles with Permisssions to users Management
     Update Role with Permissions to users Management
     Permission Groups: Grouping Permissions
     Role Based Redirection (showing data)
 -->
        <!-- needed things -->
        <!-- CRUD
      Blade template Engine
      Master Layouts
      Components
      Eloquent ORM
      Relationships
      Seeder
 -->

        <!-- ======================================================= -->
        <!-- 1. Install Spatie package
             2. Livewire and jet Stream (Skip)(for jetstream we need livewire)
             3. create the seeder(permissionTabeSeeder,roleTableseeder,userseeder,permissionGroupTabeSeeder)
             4. -->
    </body>
</html>
